@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap")
layer(base);

@import "tailwindcss";

@source "../**/*.{css,js,ts,jsx,tsx,mdx}";

@theme {
  --breakpoint-xs: 550px;
  --breakpoint-de: 900px;
  --breakpoint-me: 1100px;
  --breakpoint-mx: 2000px;

  --color-primary-blue: #2e344a;
  --color-primary-gray: #bfc9d1;

  --height-nav-bar: 7rem;
  --padding-nav-link: 0.5rem;

  --animate-fade-in: fadeIn 0.3s ease-in 0.2s forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer components {
  body {
    @apply relative min-w-[375px];
  }

  button {
    @apply cursor-pointer disabled:cursor-auto;
  }

  figure {
    @apply select-none pointer-events-none;
  }

  .font-open-sans {
    font-family: "Open Sans", sans-serif;
  }

  .container-small {
    @apply max-w-[900px];
  }

  .container-medium {
    @apply max-w-[1200px];
  }

  .container-large {
    @apply max-w-[1500px];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight;
  }

  h1 {
    @apply text-[48px];
  }

  h2 {
    @apply text-[32px];
  }

  .text-large {
    @apply text-[1.2rem] font-semibold;
  }

  .text-mediumlarge {
    @apply text-[1.1rem] font-semibold;
  }

  .text-medium {
    @apply text-[1rem];
  }

  .text-mediumsmall {
    @apply text-[0.9rem];
  }

  .text-small {
    @apply text-[0.8rem];
  }
}
